<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="app">
        <!-- Страницы -->
        <div class="page active" id="profile-page">
            <div class="content">
                <div class="profile">Профиль</div>
            </div>
        </div>

        <div class="page" id="tournaments-page">
            <div class="content">
                <div class="tournaments">Турниры</div>
            </div>
        </div>

        <div class="page" id="table-page">
            <div class="content">
                <div class="table-block">Таблица</div>
            </div>
        </div>


        <!-- Navbar -->
        <div class="navbar">
            <button onclick="showPage('profile')">Профиль</button>
            <button onclick="showPage('tournaments')">Турниры</button>
            <button onclick="showPage('table')">Таблица</button>
        </div>
    </div>

    <script>
        function showPage(page) {
            document.querySelectorAll('.page').forEach(p => p.style.display = 'none');
            document.getElementById(page + '-page').style.display = 'flex';
        }

        showPage('tournaments');
    </script>
</body>
</html>

